* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --mainColor: #0d4633;
  --bgColor: #f7f0da;
  --bgColor2: #f8f4e9;
  --bgbottom: #2e2f2e;
  --fontColor: #f0f0f0;
  --fontColor2: #6c6c6a;
  --subColor: #144c36;
  --subColor2: #dadfcb;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

body {
  width: 100%;
  height: 180vh;
  position: relative;
}
body header {
  width: 100%;
  height: 147px;
  background: var(--mainColor);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-top {
  width: 100%;
  min-width: 1020px;
  height: 104px;
  border-bottom: 1px solid var(--fontColor2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top .header-topcontents {
  width: 1020px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-topcontents .header-top-left {
  display: flex;
  gap: 25px;
  font-size: 20px;
  color: var(--fontColor);
}
.header-top .header-topcontents .header-logo {
  margin-left: 160px;
  display: flex;
  align-items: center;
}
.header-top .header-topcontents .header-top-right {
  display: flex;
  color: var(--fontColor);
  font-size: 10px;
  font-weight: lighter;
  position: relative;
}
.header-top .header-topcontents .header-top-right ul {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 12px;
}
.header-top .header-topcontents .header-top-right ul li:nth-child(4) {
  padding: 1px 10px;
  border: 1px solid var(--fontColor);
}
.header-top .header-topcontents .header-top-right ul img {
  margin-bottom: 35px;
}

.header-bottom {
  width: 100%;
  min-width: 940px;
  height: 43px;
  display: flex;
  justify-content: center;
}
.header-bottom .header-bottomcontents {
  width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .header-bottomcontents ul {
  display: flex;
  gap: 80px;
  font-weight: 500;
  color: var(--fontColor);
  cursor: pointer;
}

.main-img {
  position: sticky;
  width: 100%;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgColor2);
  top: 147px;
  left: 0;
  z-index: -999;
}
.main-img .main_img {
  width: 1400px;
  height: 460px;
  background: url("./img/img_main2.jpg") bottom;
}

.main-section {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 10;
  background: var(--bgColor);
}
.main-section .main-section-inner {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #f00;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.main-section .main-section-inner .section01 {
  width: 1000px;
  height: 403px;
  position: absolute;
  top: 30px;
  display: flex;
  gap: 10px;
}
.main-section .main-section-inner .section01 .section01-slider01 {
  width: 395px;
  height: 403px;
  background: #fff;
}
.main-section .main-section-inner .section01 .section01-slider02 {
  width: 595px;
  height: 403px;
  background: #fff;
}
.main-section .main-section-inner .section02 {
  width: 1000px;
  height: 170px;
  position: absolute;
  top: 445px;
  display: flex;
  gap: 10px;
}
.main-section .main-section-inner .section03 {
  width: 1000px;
  height: 260px;
  position: absolute;
  top: 647px;
  display: flex;
  gap: 12px;
}
.main-section .main-section-inner .section04 {
  width: 1000px;
  height: 135px;
  position: absolute;
  top: 940px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-section .main-section-inner .section04 .section04-imgs {
  display: flex;
  gap: 10px;
}
.main-section .main-section-inner .section04 .section04-notice {
  width: 394px;
  height: 130px;
  background: var(--bgColor2);
  padding: 17px;
}
.main-section .main-section-inner .section04 .section04-notice .section04-notice-top {
  display: flex;
  justify-content: space-between;
}
.main-section .main-section-inner .section04 .section04-notice .section04-notice-top .section04-notice-title {
  font-size: 18px;
  color: var(--mainColor);
  font-weight: 500;
}
.main-section .main-section-inner .section04 .section04-notice .section04-notice-top .section04-notice-plus {
  width: 30px;
  height: 30px;
  border: 1px solid var(--fontColor2);
  color: var(--fontColor2);
  font-size: 18px;
  text-align: center;
}
.main-section .main-section-inner .section04 .section04-notice .section04-notice-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 10px;
  font-weight: 100;
}

.main-section-bottom {
  width: 100%;
  height: 70px;
}
.main-section-bottom .main-section-bottom-content {
  width: 1020px;
  height: inherit;
  margin: 0 auto;
  border: 1px solid #f00;
}

footer {
  width: 100%;
  height: 210px;
  background: var(--bgbottom);
}/*# sourceMappingURL=style.css.map */