.subject {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
  border-bottom: 2px solid #eee;
}

.header {
  width: 890px;
  height: 120px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 5rem;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #444;
}
