/* reset*/

@import url("./reset.css");

/*varialbes*/

@import url("./variable.css");

/*common*/

body {
  font-family: var(--primary-kr);
  color: var(--dark-black);
  line-height: 1.5em;
  font-size: 14px;
}

.container {
  width: 100%;
  position: relative;
}

.preloading,
.signin {
  height: 100vh;
}

.logo {
  font-family: var(--primary-br);
}

.btn-primary {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

/* preloading */
.preloading-inner {
  height: inherit;
  background: url("../img/preloading-back.jpg") top left/cover no-repeat;
}

.heading-preloading {
  position: absolute;
  top: 180px;
  left: 30px;
}

.heading-preloading .logo {
  font-size: 32px;
  color: var(--crimson);
  margin-bottom: 30px;
}

.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  font-size: 28px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

/*signin*/
.signin-photo {
  background: url("../img/signin-header.jpg") no-repeat;
  height: 250px;
}

.signin-header {
  text-align: center;
}

.signin-header .logo {
  tab-size: 26px;
  margin: 10px 0;
}

.signin-header p {
  font-size: 16px;
  margin-bottom: 10px;
}

.signin-field input {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.signin-field input:focus {
  border-color: var(--yellogreen);
  outline: none;
}

.signin-field input::placeholder {
  color: var(--silver-gray);
  transition: all 0.3s;
}

.signin-field input:focus::placeholder {
  opacity: 0;
}

.status {
  display: flex;
  justify-content: space-between;
}

.custom-chk label input[type="checkbox"] {
  display: none;
}

.custom-chk label input[type="checkbox"] + em {
  border: 2px solid #f00;
  border-radius: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(4px);
  text-align: center;
  margin-right: 2px;
}

.custom-chk label input[type="checkbox"] + em::before {
  content: "";
  font-family: normal;
  color: var(--light-gray);
  position: absolute;
  width: 18px;
  font-size: 10px;
  text-align: center;
  left: -1px;
  bottom: -2px;

  /* transform: translateY(-3x);
  display: inline-block; */
}

.btn-signin {
  margin: 10px 0;
  background: var(--yellogreen);
}

.join-member {
  text-align: center;
  margin: 15px 0;
}

.join-member a {
  text-decoration: underline;
}

.easy-signin {
  text-align: center;
  margin-top: 20px;
}

.easy-signin span {
  color: var(--light-gray);
}

.social-btn {
  margin: 16px 0;
}

.social-btn a {
  margin: 2px;
}

/* gnb */

iframe {
  width: 100%;
  height: 55px;
}

.gnb {
  border-top: 1px solid var(--cloudy-gray);
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.gnb a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.gnb a i {
  font-size: 18px;
}

/* category */

.category-accordion {
  font-size: 16px;
}

.category-accordion .title {
  border-bottom: 1px solid var(--cloudy-gray);
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--crimson);
  position: relative;
  padding: 0 20px;
  cursor: pointer;
}

.category-accordion .title::after,
.user-shortcut a::after {
  content: "\f078";
  font-family: fontawesome;
  background: var(--fuschia);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 12px;
  position: absolute;
  right: 20px;
  /* top: 50%;
  transform: translateY(-50%); */
  transition: all 0.3s;
}

.category-accordion .title.active::after {
  background: transparent;
  transform: rotate(180deg);
  top: 16px;
}

.category-accordion .detail {
  display: none;
  padding: 7px 20px;
  background: var(--snow);
}

.category-accordion .detail a {
  display: block;
  padding: 2px 0;
}

/* mypage */

.user-info {
  padding: 20px;
  display: flex;
  gap: 5px;
}

.user-avatar {
  flex: 1;
}

.user-avatar img {
  width: 60px;
  border-radius: 100%;
}

.user-summary {
  flex: 4;
}

.rating {
  overflow: hidden;
}

.rating b {
  text-transform: uppercase;
  color: var(--limegreen);
}

.rating span {
  font-weight: 600;
}

.btn-setting {
  background: transparent;
  border: none;
  font-size: 20px;
  float: right;
  color: var(--silver-gray);
}

.nickname {
  font-size: 18px;
  margin-top: 5px;
}

.point-coupon {
  display: flex;
  gap: 5px;
}

.point-coupon div {
  background: var(--cloudy-gray);
  padding: 2px 15px;
  border-radius: 20px;
  margin-top: 10px;
}

.point-coupon div span {
  font-size: 13px;
}

.point-coupon div span:last-child {
  color: var(--crimson);
  font-weight: 600;
}

.delivering {
  padding: 20px;
}

.delivering h2 {
  font-size: 16px;
}

.delivering-items {
  border: 1px solid var(--cloudy-gray);
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.delivering-item {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--cloudy-gray);
}

.delivering-item:last-child {
  border: none;
}

.delivering-item .thum {
  width: 60px;
  height: 60px;
}

.delivering-item .thum img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

.delivering-item .desc b {
  display: block;
  color: var(--limegreen);
  font-size: 14px;
}

.myPage .banner a img {
  width: 100%;
}

.user-shortcut a {
  display: block;
  border-bottom: 1px solid var(--cloudy-gray);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 15px;
}

.user-shortcut a span {
  margin-left: 8px;
}

.btn-signout {
  background: var(--gainsboro);
}

/* search */

.search-field {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.search-field input {
  border: none;
  border-radius: 30px;
  padding: 8px;
  padding-left: 20px;
  margin: 0 auto;
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-field input:foucs {
  outline: none;
}

.search-recent {
  margin: 18px 0;
  padding: 8px;
}

.search-recent .title {
  display: contents;
  justify-content: space-between;
  align-items: center;
}

.search-recent .title h3 {
  color: var(--crimson);
  font-size: 16px;
}

.btn-all-clear {
  border: none;
  font-size: 12px;
  background: var(--gainsboro);
  color: #fff;
  padding: 2px 8px;
  border-radius: 20px;
}

.search-recent .items {
  margin: 12px 0;
}

.search-recent .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cloudy-gray);
  padding: 8px 0;
}

.search-recent .items .item span {
  font-size: 15px;
}

.btn-clear {
  border: none;
  background: transparent;
  font-size: 16px;
  color: var(--silver-gray);
}

.search-increase {
  padding: 8px;
  margin: 4px 0;
}

.search-increase .title h3 {
  font-size: 16px;
  color: var(--crimson);
  margin: 12px 0;
}

.search-increase .title p {
  margin-bottom: 10px;
}

.search-increase-list {
  line-height: 2rem;
  font-size: 15px;
  counter-reset: rank;
}

.search-increase-list li::before {
  content: counter(rank);
  counter-increment: rank;
  margin-left: 6px;
  font-weight: 500;
}

/* cart */

.cart-itmes-header {
  padding: 20px;
}

.cart-itmes-header h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.cart-items-check-all {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cloudy-gray);
  padding-bottom: 10px;
}

.cart-items-check-all .cart-chk-all {
  width: 16px;
  height: 16px;
  transform: translateX(3px);
  margin-right: 5px;
  accent-color: var(--crimson);
}

.cart-items-check-all em {
  font-style: normal;
  font-weight: bold;
  color: var(--crimson);
}

.cart-item {
  padding: 20px;
  border-bottom: 1px solid var(--cloudy-gray);
}

.cart-item-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 10px;
}

.cart-item-title input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--crimson);
  transform: translateY(4px);
}

.cart-item-title span {
  flex: 1;
  font-size: 16px;
}

.cart-item-title .btn-clear {
  transform: translate(-6px, 2px);
  font-size: 18px;
}

.cart-item-desc {
  display: flex;
  gap: 10px;
}

.cart-item-thum {
  width: 80px;
  height: 80px;
  flex-flow: 1;
}

.cart-item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.cart-item-info .delivery-date {
  color: var(--limegreen);
}

.cart-item-info .delivery-time {
  margin: 8px 0;
}

.cart-item-info .total-price {
  font-size: 18px;
}

.cart-item-info .benefit {
  background: rgba(242, 230, 54, 0.4);
  border-radius: 3px;
  padding-left: 8px;
}

.cart-item-info .benefit em {
  font-style: normal;
  font-size: 12px;
  margin-left: 5px;
}

.cart-item-info .benefit em::before {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 12px;
  display: inline-block;
  margin: 0 4px;
}

.custom-select {
  margin-top: 8px;
  border: 1px solid var(--cloudy-gray);
  background: var(--snow);
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
  position: relative;
}

.custom-select::after {
  content: "\f0d7";
  font-family: fontawsome;
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 12px;
  border-left: 1px solid var(--cloudy-gray);
  padding-left: 8px;
}

.custom-select select {
  appearance: none;
  width: 100%;
  border: none;
  background: transparent;
  padding-left: 16px;
}

.custom-select:focus {
  outline: none;
}

.cart-items-summary {
  padding: 20px;
}

.cart-items-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-items-summary div:last-child {
  border-top: 1px solid var(--cloudy-gray);
  padding-top: 12px;
}

.btn-order {
  background: var(--royalblue);
  border-radius: 0;
}

.cart-notice {
  padding: 14px 16px;
  color: var(--light-gray);
}

.cart-notice li::before {
  content: "- ";
  margin-right: 2px;
}

/* main */

.category-navigation {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.category-navigation a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.category-navigation a.active {
  color: var(--crimson);
  border-bottom: 3px solid var(--crimson);
}

.frontSlider {
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.frontSlider .arrow {
  z-index: 100;
  font-size: 2rem;
  color: #222;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s;
}

.frontSlider .arrow:hover {
  opacity: 1;
}

.goods-suggestion {
  padding: 20px;
}

.goods-suggestion h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.goods-suggestion span {
  font-size: 14px;
  color: var(--dark-gray);
}

.goods-suggestion-items {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.goods-suggestion-item .thum {
  width: 160px;
  height: 240px;
}

.goods-suggestion-item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.goods-suggestion-item .desc {
  width: 140px;
}

.badge {
  text-transform: uppercase;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

.badge.new {
  width: 30px;
  font-size: 8px;
  font-family: var(--primary-en);
  background: var(--turqoise);
  color: #fff;
}

.badge.hot {
  width: 30px;
  font-size: 8px;
  font-family: var(--primary-en);
  background: var(--crimson);
  color: #fff;
}

.goods-title h3 {
  font-size: 14px;
  line-height: 1.2rem;
  margin: 5px 0;
  letter-spacing: -1px;
}

.goods-title div {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.goods-title div span {
  color: var(--crimson);
}

.goods-title div s {
  color: var(--silver-gray);
}

.front .banner img {
  width: 100%;
}

.food-type {
  margin-top: 30px;
}

input[name="food-type-tabmenu"] {
  display: none;
}

.food-type-tab-btn {
  background: var(--light-beige);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.food-type-tab-btn label {
  flex: 1;
  text-align: center;
}

.food-type-tabs {
  padding: 20px;
}

.food-type-tab {
  display: none;
}

input[id="food-type-tab1"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab1"],
input[id="food-type-tab2"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab2"],
input[id="food-type-tab3"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab3"],
input[id="food-type-tab4"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab4"],
input[id="food-type-tab5"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab5"],
input[id="food-type-tab6"]:checked
  ~ .food-type-tab-btn
  label
  [for="food-type-tab6"] {
  color: var(--crimson);
}

input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab1,
input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab2,
input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab3,
input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab4,
input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab5,
input[id="food-type-tab1"]:checked ~ .food-type-tabs .tab6 {
  display: block;
}

.tab-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-item .thum {
  width: 110px;
  height: 90px;
  position: relative;
}

.tab-item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.tab-item .desc .badge-wish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--cloudy-gray);
}

.wish {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 15px;
}

.wish::before {
  content: "\f004";
  font-family: fontawesome;
  color: var(--crimson);
}

.tab-item .goods-title div {
  justify-content: flex-start;
  gap: 10px;
}

.btn-goods-suggestion-more {
  border: 1px solid var(--crimson);
  padding: 7px;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  display: block;
  transition: all 0.3s;
}

.btn-goods-suggestion-more:hover {
  background: var(--crimson);
  color: #fff;
}

.front-footer {
  padding: 20px;
  background: var(--cloudy-gray);
}

.front-footer h3 {
  margin-bottom: 5px;
}

.compainy-link {
  margin: 5px 0;
}

.compainy-link a {
  margin-left: 3px;
}

.compainy-link a::after {
  content: "|";
  color: var(--silver-gray);
  font-size: 10px;
  padding-left: 10px;
  transform: translateY(-2px);
  display: inline-block;
}

.compainy-link a:last-child::after {
  display: none;
}

.company-info-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 5px;
}

.company-info-title h3 {
  font-size: 16px;
}

.btn-view-more {
  border: none;
  background: transparent;
  color: var(--light-gray);
  margin-left: 10px;
}

.company-info-more {
  display: block;
}
