@import url("./reset.css");

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 375px;
  height: 100vh;
  justify-content: center;
}

.home-wrap {
  width: 100%;
  height: 100%;
  background: url("./123353929.1.jpg") center/cover no-repeat;
  position: relative;
}

.home-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.home-wrap h1 {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 9;
  font-size: 1.6rem;
}

.home-wrap h2 {
  color: #fff;
  position: absolute;
  z-index: 9;
  right: 10%;
  top: 40%;
  font-size: 1rem;
}

.home-wrap .pagers {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.home-wrap .pagers span {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
}

.home-wrap .pagers .active {
  width: 80px;
  background: rgba(0, 0, 0, 0.6);
}

/* header */

header {
  width: 100%;
  height: 45px;
  background: #4a4f5a;
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

header .header-title {
  font-size: 21px;
}

header .fa-bars {
  font-size: 21px;
  cursor: pointer;
}

/* perchase from */

.sell-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.sell-index label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.sell-index label::after {
  content: "*";
  margin-left: 3px;
  color: crimson;
}

.sell-index .text-input {
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px;
  color: #999;
  outline: none;
}

.sell-index select {
  font-size: 14px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #eee;
  color: #999;
  height: 35px;
  border-radius: 5px;
}
.card-select-index {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sell-index .selections {
  display: flex;
  justify-content: space-between;
}

.card-select {
  width: 48%;
}

.installment {
  width: 48%;
}

.sell-index div:first-child {
  display: flex;
  justify-content: space-between;
}

.number-input {
  font-size: 14px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #eee;
  color: #999;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0 20px;
}

.sell-index-button {
  font-size: 14px;
  border: 1px solid #eee;
  color: #000;
  background: #fff;
  height: 35px;
  border-radius: 5px;
  padding: 0 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.sell-index-button:hover {
  background: #999;
  color: #eee;
}

.number-input-submit {
  display: none;
}

.number-input-submit .number-input {
  padding: 0 50px;
}

/* agree section */

.user-agree {
  width: 100%;
  font-size: 0.8rem;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-agree div {
  display: flex;
  gap: 10px;
  color: #4a4f5a;
  align-items: center;
}

.user-agree i {
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
}