.nav-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  font-size: 12px;
  gap: 10px;
  align-items: center;
  font-weight: 400;
}

.nav-bar a:hover {
  color: var(--font-color);
  text-decoration: underline;
}

.nav-bar a:nth-child(2) {
  position: relative;
}

.nav-bar a:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: crimson;
  right: -5px;
  top: -2px;
}

.nav-bar .toggle-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar .toggle-nav ul {
  position: absolute;
  top: 28px;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 16px 0;
  width: 110px;
  border-radius: 16px;
  color: var(--font-color2);
  font-weight: 400;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  background: #fff;
  z-index: 99;
}

.nav-bar .toggle-nav ul li {
  margin-top: 5px;
  padding: 5px 0px 5px 10px;
  display: flex;
  cursor: pointer;
  color: #8e8e8e;
}

.nav-bar .toggle-nav ul li:hover {
  background: #e8e8e8;
  color: #000;
}

ul.toggleOpen {
  opacity: 1;
}

.nav-bar .toggle-nav p:hover {
  color: var(--font-color);
  text-decoration: underline;
}

.nav-form {
  position: relative;
}

.nav-searchbar {
  width: 173px;
  height: 35px;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 24px;
  outline: none;
  padding-left: 20px;
  padding-right: 30px;
}

.nav-form .fa-solid {
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

.header-logoSlogan {
  position: absolute;
  top: 0;
}

.header-menu {
  margin-top: 80px;
}

.left-gnb {
  float: left;
}

.left-gnb ul {
  display: flex;
  gap: 35px;
  font-weight: bold;
  font-size: 1.2rem;
}

.left-gnb-ul li {
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.left-gnb-ul li:hover {
  color: var(--font-color);
}

.left-gnb-ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  bottom: -8px;
  left: 50%;
  transition: all 0.3s;
}

.left-gnb-ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #f47499 75%, #7c79e9);
  bottom: -8px;
  left: 0;
  border-radius: 5px;
}

.right-gnb {
  float: right;
}

.right-gnb ul {
  display: flex;
  gap: 30px;
  margin-top: 8px;
}

.right-gnb-ul li {
  cursor: pointer;
  transform: all 0.3s;
  position: relative;
}

.right-gnb-ul li:hover {
  color: var(--font-color);
}

.right-gnb-ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  bottom: -8px;
  left: 50%;
  transition: all 0.3s;
}

.right-gnb-ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #f47499 75%, #7c79e9);
  bottom: -8px;
  left: 0;
  border-radius: 5px;
}

.header-banner {
  /* border: 1px solid #000; */
}

.header-banner img {
  margin-top: 30px;
}