* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-page {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  display: none;
}

form {
  width: 350px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
}

.loginPage-position {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.loginID {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.login-input {
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  width: 200px;
  padding: 5px;
}

.login input[type="submit"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: crimson;
  transition: all 0.3s;
  width: 200px;
  margin-top: 5px;
}

.login input[type="submit"]:hover {
  background: rgba(220, 20, 60, 0.6);
}

.sign {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: crimson;
  font-size: 0.8rem;
}
.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
  /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.recipe-inner {
  width: 1000px;
  text-align: center;
}

.recipe-inner h1 {
  margin-bottom: 50px;
  /* border-bottom: 3px dotted rgba(0, 0, 0, 0.6); */
  padding-bottom: 20px;
}

.contnet-toggle {
  display: none;
}

.contents {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.accordion {
  display: flex;
  gap: 50px;
  padding: 10px;
  flex-direction: column;
}

.accordion h3 {
  cursor: pointer;
  transition: all 0.3s;
}

.accordion:hover {
  color: #999;
}

.content-img {
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.content-img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.content-img img:hover {
  scale: 1.05;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  color: #000;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}
