* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  font-size: 1rem;
}

.header-top-line {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
}

.main-container-img {
  width: 100%;
  position: absolute;
  z-index: -99999;
  background-position: center;
}

.main-container-img img {
  width: 100%;
}

.container {
  width: 92.7%;
  height: 100vh;
  margin: 0 auto;
}
