@import url("./reset.css");

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 375px;
  height: 100vh;
  justify-content: center;
  position: relative;
  /* transform: translateX(100%); */
}

.containerAnime {
  animation: slider 1s ease-out;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.home-wrap {
  width: 100%;
  height: 100%;
  background: url("./img/mainImg.jpg") center/cover no-repeat;
  position: relative;
}

.home-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.home-wrap h1 {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 9;
  font-size: 1.6rem;
}

.home-wrap h2 {
  color: #fff;
  position: absolute;
  z-index: 9;
  right: 10%;
  top: 40%;
  font-size: 1rem;
}

.home-wrap .pagers {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.home-wrap .pagers span {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
}

.home-wrap .pagers .active {
  width: 80px;
  background: rgba(0, 0, 0, 0.6);
}

.next-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 5%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 3px #fff;
  transition: all 0.3s;
}

.next-btn:hover {
  scale: 1.2;
}

.fa-chevron-right {
  color: #fff;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.3s;
}

.fa-chevron-right:first-child {
  animation: arrows infinite 3s;
  animation-delay: 0s;
}
.fa-chevron-right:nth-child(2) {
  animation: arrows infinite 3s;
  animation-delay: 0.5s;
}
.fa-chevron-right:last-child {
  animation: arrows infinite 3s;
  animation-delay: 1s;
}

@keyframes arrows {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* header */

.main-header {
  width: 375px;
  height: 45px;
  background: #4a4f5a;
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.header-title {
  font-size: 21px;
  cursor: pointer;
}

.fa-bars {
  font-size: 21px;
  cursor: pointer;
}

/* perchase from */

.sell-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.sell-index label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.sell-index label::after {
  content: "*";
  margin-left: 3px;
  color: crimson;
}

.sell-index .text-input {
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px;
  color: #999;
  outline: none;
}

.sell-index select {
  font-size: 14px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #eee;
  color: #999;
  height: 35px;
  border-radius: 5px;
}
.card-select-index {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sell-index .selections {
  display: flex;
  justify-content: space-between;
}

.card-select {
  width: 48%;
}

.installment {
  width: 48%;
}

.sell-index div:first-child {
  display: flex;
  justify-content: space-between;
}

.number-input {
  font-size: 14px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #eee;
  color: #999;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  padding: 0 20px;
}

.sell-index-button {
  font-size: 14px;
  border: 1px solid #eee;
  color: #000;
  background: #fff;
  height: 35px;
  border-radius: 5px;
  padding: 0 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.sell-index-button:hover {
  background: #999;
  color: #eee;
}

.number-input-submit {
  display: none;
}

.number-input-submit .number-input {
  padding: 0 50px;
}

/* agree section */

.user-agree {
  width: 100%;
  font-size: 0.8rem;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-agree div {
  display: flex;
  gap: 10px;
  color: #4a4f5a;
  align-items: center;
}

.user-agree i {
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
}

/* button */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
}

.main-btn {
  width: 335px;
  height: 43px;
  background: #5f5f5f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.main-btn:hover {
  background: #eee;
  color: #000;
}

/* product */

.product {
  display: flex;
  padding: 10px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-left: 20px;
}

.product-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #eee;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  z-index: 0;
}

.product-img::before {
  content: "이미지 확대";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.product-img:hover::before {
  opacity: 1;
}

.product-img:hover img {
  scale: 1.2;
}

.product-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9;
  transition: all 0.5s;
}

.product-info p {
  font-size: 0.8rem;
}

.product-info .textdeco {
  text-decoration: line-through;
  color: crimson;
}

/* toogle */

.production {
  width: 375px;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 99;
}

.production img {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: none;
}

.spinner-warp {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  display: none;
}

.spinner {
  width: 100%;
  height: 100%;
  border: 15px solid rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  border-right: 15px solid rgba(0, 0, 0, 0.8);
  animation: spinner 0.3s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.active {
  display: block;
}
